[Unit]
Description=PhantomJS
After=selenium-hub.service
Requires=selenium-hub.service

[Service]
TimeoutStartSec=0
ExecStart=/vagrant/.files/phantomjs --webdriver=8888 --webdriver-selenium-grid-hub=http://127.0.0.1:4444

[Install]
WantedBy=multi-user.target
