[Unit]
Description=PhantomJS
After=network.target selenium-hub.service
Requires=selenium-hub.service

[Service]
Type=simple
Restart=always
TimeoutStartSec=0
ExecStart=/opt/phantomjs --webdriver=7001 --webdriver-selenium-grid-hub=http://127.0.0.1:4444

[Install]
WantedBy=multi-user.target
