[Unit]
Description=Selenium Hub

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/java -jar /opt/selenium-server-standalone.jar -role hub

[Install]
WantedBy=multi-user.target
